/*
 This stylesheet should be imported **after** skeleton.css
*/
@charset "UTF-8";

/* Grid */
.container {
  text-align: center;
}

.column,
.columns {
  vertical-align: middle;
}

/* evenly space the rows using flex-box */
.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

/* Base Styles */
html {
  font-size: 100%;
}

body {
  font-size: 1em;
}

header {
  background-color: #c4c4c4;
  margin-bottom: 2rem;
  text-align: center;
  vertical-align: middle;
}

header h2 {
  margin-bottom: 0;
}

footer {
  margin-top: 2rem;
}

/* Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  border-color: #33c3f0;
  color: #33c3f0;
}

.button-primary,
.button-primary:hover {
  color: #000;
  min-width: 7.983em; /* width of a button with 3 letters inside */
}

.button-secondary {
  border-color: #33c3f0;
  color: #33c3f0;
  min-width: 9.338em; /* width of a button with 5 letters inside */
  outline: 0;
}

.button-secondary:hover {
  color: #555;
  border-color: #bbb;
}

.button-primary.button-off {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.button-secondary.button-off {
  color: #000;
  border-color: #000;
}

/* Misc */
.danger {
  color: #f00;
}

.mdi {
  vertical-align: middle;
}

#video {
  display: none;
}

#output {
  border: 1px solid black;
}
